.container-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
    height: 50px;
    .logo {
    }
    .btn-top {
        .btn-news {
            margin-right: 16px;
        }
        .btn-nternational {
        }
    }
    .ant-input {
        border-radius: 50px;
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
        border-radius: 0 50px 50px 0;
    }
    .btn-login-top {
        display: flex;
        .icon-btn-login {
            font-size: 26px;
            margin-right: 5px;
            margin-top: 6px;
        }
    }
}
