.comment {
    display: flex;
    .message {
        height: 5vh;
        width: 2vw;
        background-color: #ccc;
        clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 58% 56%, 33% 76%, 40% 56%, 0 55%);
        margin-right: 5px;
        cursor: pointer;
    }
    span {
        color: #076db6;
        cursor: pointer;
    }
}
